
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(221, 137, 107);
}

.container{
    border: 1px solid lightgray;
    border-radius: 1.2rem;
    height: 34.4rem;
    width: 26rem;
    padding: 1rem;
    background-color: white;
    padding: 1rem 2rem;
}

.container h1{
    text-align: center;
    padding: 0.5rem 0 0.5rem 0 0.5rem;
    margin-bottom: 1rem;
}

form input, form button{
    width: 100%;
    font-size: 1rem;
    padding: 0.4rem;
    margin-top: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid lightgray;
    background-color: rgb(204, 204, 204);
    outline: none;
}

.button{
    display: flex;
    justify-content: center;
    margin-top: 0.2rem;
}

.button button{
    width: 40%;
}

.location-info label{
    font-size: 1.5rem;

}

.display{
    margin-top: 1rem;
}

.display .day-information, .night-information{
    margin: 0 1rem 1rem 1rem;
    padding: 1rem 1rem;
    background-color: rgb(209, 228, 245);
    border-radius: 1.2rem;
}

.weather-status{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.night-information{
    background-color: rgb(180, 189, 197);
}

.weather-status img{
    height: 4rem;
    margin-left: -1.1rem;
}

.weather-status p{
    font-size: 1.5rem;
}

.source{
    text-align: center;
    font-size: 0.8rem;
}

/* .error-message{
    display: none;
}

.p{
    color: red;
    font-size: 2rem;
    text-align: center;
} */

.hidden{
    visibility: hidden;
}